@import "./home";






.banner {
    height: auto;

    .about-banner {
        .banner-row {
            .banner-image {
                .image {
                    width: 60%;

                    @media (min-width: 600px) {
                        width: 40%;
                        margin: auto;
                    }

                    @media (min-width: 1000px) {
                        width: 60%;

                    }

                    img {

                        width: 100%;
                    }
                }
            }

            .heading {
                h1 {
                    font-size: 48px;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: $secondaryColor;
                    text-align: center;
                    margin: 30px 0;

                    @media (min-width: 1000px) {
                        text-align: left;
                    }
                }
            }
        }
    }

}

div.container.who-we-are {
    >div.row.who-we-are-row {
        padding-top: 0px;
        padding-bottom: 20px;

        @media (min-width: 1000px) {
            padding-top: 40px;
        }

        >div.col-lg-6.info {
            padding-top: 60px;
            padding-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;

            @media (min-width: 1000px) {
                text-align: left;
            }

            >p:nth-of-type(1) {
                color: $primaryColor;
                font-weight: 700;
            }

            >h3 {
                font-size: 24px;
                font-weight: 800;
                margin-bottom: 35px;
            }

            >div.image {
                width: 100%;
                overflow: hidden;

                @media (min-width: 600px) {
                    width: 50%;
                    margin: auto;
                }


                >img {
                    width: 100%;

                    @media (min-width: 1000px) {
                        height: 100%;
                        width: auto;
                    }
                }
            }

            >p:nth-of-type(2) {
                
            }
        }

        >div.col-lg-6.info-image.text-center {
            >div.image {
                width: 100%;
                overflow: hidden;

                >img {
                    width: 100%;

                    @media (min-width: 1000px) {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
    }
}

div.policy {
    background-color: #2E2E2E;

    >div.container.row.policy-row.text-center.mx-auto {
        padding-bottom: 60px;
        >div.col-lg-4.the-policy {
            padding-top: 60px;
            >div.image {
                
                width: 86px;
                height: 86px;
                margin: auto;
                background-color: white;
                border-radius: 5px;
                -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.75);
                margin-top: 40px;
                >img {
                    position: relative;
                    width: 80%;
                    top: 50%;
                    left: 40%;
                    transform: translate(-50%,-50%);
                }
            }

            >h5 {
                margin-top: 30px;
                color: white;
            }

            >p {
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 30px;
                color: white;
            }
        }

    }
}

div.why-choose-us {
  >div.row.why-choose-us-row {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 50px;
      @media (min-width: 1000px) {
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    >div.col-lg-6:nth-of-type(1) {
      >div.image {
          width:100%;
        >img {
            width: 100%;
           

        }
      }
    }
    >div.col-lg-6.my-auto {
        padding-left: 50px;
        padding-right: 70px;
      >p:nth-of-type(1) {
        color: $primaryColor;
        font-weight: 700;
      }
      >h3 {
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 35px;
      }
      >div.image.d-block.d-lg-none {
          width: 100%;
        >img {
            width: 80%;
            @media (min-width :600px) {
                width: 100%;
            }
        }
      }
      >p:nth-of-type(2) {
          padding-top: 50px;
          @media (min-width: 1000px) {
            
            padding-top: 0px;
        }
      }
    }
  }
}


div.boast {
    background-color: #CA2233;

    >div.container.row.policy-row.text-center.mx-auto {
        padding-bottom: 20px;
        >div.col-lg-4.the-policy {
            padding-top: 20px;
            >div.image {
                
                width: 86px;
                height: 86px;
                margin: auto;
                border-radius: 5px;
                margin-top: 40px;
                >img {
                    position: relative;
                    width: 80%;
                    top: 50%;
                    left: 40%;
                    transform: translate(-50%,-50%);
                }
            }

            >h5 {
                margin-top: 10px;
                color: white;
                font-size: 48px;
            }

            >p {
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 10px;
                color: white;
            }
        }

    }
}