@import url(c:\Users\tech\brickvest\assets\css\font\stylesheet.css);
@import url(c:\Users\tech\brickvest\assets\css\font\stylesheet.css);
@import url(c:\Users\tech\brickvest\assets\css\font\stylesheet.css);
@import url(c:\Users\tech\brickvest\assets\css\font\stylesheet.css);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Masiva";
}

.the-dashboard-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 8%;
  -webkit-transition-property: opacity, width;
  transition-property: opacity, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.the-dashboard-menu .menu-fixed {
  -webkit-transition-property: opacity, width;
  transition-property: opacity, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.the-dashboard-menu .menu-fixed .the-menu {
  height: 94vh;
  width: 100%;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: white;
  box-shadow: -3px 0px 22px -3px rgba(0, 0, 0, 0.192);
  -webkit-box-shadow: -3px 0px 22px -3px rgba(0, 0, 0, 0.192);
  -moz-box-shadow: -3px 0px 22px -3px rgba(0, 0, 0, 0.192);
}

.the-dashboard-menu .menu-fixed .the-menu::-webkit-scrollbar {
  display: none;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item-logo .logo {
  margin-top: 20px;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item-logo .logo .left {
  display: none;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item-logo .logo .left .image {
  width: 100%;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item-logo .logo .left .image img {
  width: 100%;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item-logo .logo .left p {
  font-size: 13px;
  color: #ca2233;
  font-weight: 500;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item {
  margin-top: 30px;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item .image {
  display: inline-block;
  width: 40px;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item span {
  display: none;
  color: #000000;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-active span {
  color: #ca2233;
}

.the-dashboard-menu .menu-fixed .the-menu .chat {
  margin-top: 60px;
  margin-bottom: 40px;
}

.the-dashboard-menu .menu-fixed .the-menu .pdf-report {
  display: none;
  margin-top: 40px;
  margin-bottom: 30px;
}

.the-dashboard-menu .menu-fixed .the-menu .pdf-report .image {
  width: 100%;
  overflow: hidden;
}

.the-dashboard-menu .menu-fixed .the-menu .pdf-report .image img {
  width: 100%;
}

.the-dashboard-menu .menu-fixed .the-menu .pdf-report button {
  font-size: 12px;
  border-radius: 0;
  padding: 10px 10px;
  background-color: #ca2233;
  border: none;
  margin-right: 20px;
}

@media (min-width: 600px) {
  .the-dashboard-menu .menu-fixed .the-menu .pdf-report button {
    padding: 15px 10px;
  }
}

.the-dashboard-menu .menu-fixed .the-menu .pdf-report button:hover {
  text-decoration: none;
  color: white;
  background-color: #000000;
}

.the-dashboard-menu .menu-fixed .the-menu .download-pdf {
  margin-bottom: 30px;
}

.the-dashboard-menu:hover {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16.6666666667%;
  -webkit-transition-property: opacity, width;
  transition-property: opacity, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.the-dashboard-menu:hover .menu-fixed {
  -webkit-transition-property: opacity, width;
  transition-property: opacity, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.the-dashboard-menu:hover .menu-fixed .the-menu {
  -webkit-transition-property: opacity, width;
  transition-property: opacity, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item-logo .logo {
  margin-top: 20px;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item-logo .logo .left {
  display: block;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item-logo .logo .left .image {
  width: 100%;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item-logo .logo .left .image img {
  width: 100%;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item-logo .logo .left p {
  font-size: 13px;
  color: #ca2233;
  font-weight: 500;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item {
  margin-top: 30px;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item .image {
  display: inline-block;
  width: 40px;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item span {
  display: inline-block;
  color: #000000;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-active span {
  color: #ca2233;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .chat {
  margin-top: 60px;
  margin-bottom: 40px;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report .image {
  width: 100%;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report .image img {
  width: 100%;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report button {
  font-size: 12px;
  border-radius: 0;
  padding: 10px 10px;
  background-color: #ca2233;
  border: none;
  margin-right: 20px;
}

@media (min-width: 600px) {
  .the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report button {
    padding: 15px 10px;
  }
}

.the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report button:hover {
  text-decoration: none;
  color: white;
  background-color: #000000;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .download-pdf {
  display: none;
  margin-bottom: 30px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Masiva";
}

.the-dashboard-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 8%;
  -webkit-transition-property: opacity, width;
  transition-property: opacity, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.the-dashboard-menu .menu-fixed {
  -webkit-transition-property: opacity, width;
  transition-property: opacity, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.the-dashboard-menu .menu-fixed .the-menu {
  height: 94vh;
  width: 100%;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: white;
  box-shadow: -3px 0px 22px -3px rgba(0, 0, 0, 0.192);
  -webkit-box-shadow: -3px 0px 22px -3px rgba(0, 0, 0, 0.192);
  -moz-box-shadow: -3px 0px 22px -3px rgba(0, 0, 0, 0.192);
}

.the-dashboard-menu .menu-fixed .the-menu::-webkit-scrollbar {
  display: none;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item-logo .logo {
  margin-top: 20px;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item-logo .logo .left {
  display: none;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item-logo .logo .left .image {
  width: 100%;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item-logo .logo .left .image img {
  width: 100%;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item-logo .logo .left p {
  font-size: 13px;
  color: #ca2233;
  font-weight: 500;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item {
  margin-top: 30px;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item .image {
  display: inline-block;
  width: 40px;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-item span {
  display: none;
  color: #000000;
}

.the-dashboard-menu .menu-fixed .the-menu .menu-active span {
  color: #ca2233;
}

.the-dashboard-menu .menu-fixed .the-menu .chat {
  margin-top: 60px;
  margin-bottom: 40px;
}

.the-dashboard-menu .menu-fixed .the-menu .pdf-report {
  display: none;
  margin-top: 40px;
  margin-bottom: 30px;
}

.the-dashboard-menu .menu-fixed .the-menu .pdf-report .image {
  width: 100%;
  overflow: hidden;
}

.the-dashboard-menu .menu-fixed .the-menu .pdf-report .image img {
  width: 100%;
}

.the-dashboard-menu .menu-fixed .the-menu .pdf-report button {
  font-size: 12px;
  border-radius: 0;
  padding: 10px 10px;
  background-color: #ca2233;
  border: none;
  margin-right: 20px;
}

@media (min-width: 600px) {
  .the-dashboard-menu .menu-fixed .the-menu .pdf-report button {
    padding: 15px 10px;
  }
}

.the-dashboard-menu .menu-fixed .the-menu .pdf-report button:hover {
  text-decoration: none;
  color: white;
  background-color: #000000;
}

.the-dashboard-menu .menu-fixed .the-menu .download-pdf {
  margin-bottom: 30px;
}

.the-dashboard-menu:hover {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16.6666666667%;
  -webkit-transition-property: opacity, width;
  transition-property: opacity, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.the-dashboard-menu:hover .menu-fixed {
  -webkit-transition-property: opacity, width;
  transition-property: opacity, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.the-dashboard-menu:hover .menu-fixed .the-menu {
  -webkit-transition-property: opacity, width;
  transition-property: opacity, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item-logo .logo {
  margin-top: 20px;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item-logo .logo .left {
  display: block;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item-logo .logo .left .image {
  width: 100%;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item-logo .logo .left .image img {
  width: 100%;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item-logo .logo .left p {
  font-size: 13px;
  color: #ca2233;
  font-weight: 500;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item {
  margin-top: 30px;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item .image {
  display: inline-block;
  width: 40px;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-item span {
  display: inline-block;
  color: #000000;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .menu-active span {
  color: #ca2233;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .chat {
  margin-top: 60px;
  margin-bottom: 40px;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report .image {
  width: 100%;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report .image img {
  width: 100%;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report button {
  font-size: 12px;
  border-radius: 0;
  padding: 10px 10px;
  background-color: #ca2233;
  border: none;
  margin-right: 20px;
}

@media (min-width: 600px) {
  .the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report button {
    padding: 15px 10px;
  }
}

.the-dashboard-menu:hover .menu-fixed .the-menu .pdf-report button:hover {
  text-decoration: none;
  color: white;
  background-color: #000000;
}

.the-dashboard-menu:hover .menu-fixed .the-menu .download-pdf {
  display: none;
  margin-bottom: 30px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Masiva";
}

.the-dashboard-body .the-dashboard-row .dashboard-main {
  margin-top: 20px;
  border-radius: 30px;
  background-color: #f9f9f9;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Masiva";
}

.main-body-one .main-row-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-body-one .main-row-2 .wallet-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 28%;
}

.main-body-one .main-row-2 .wallet-card .myWallet h5 {
  font-size: 14px;
  font-weight: 600;
}

.main-body-one .main-row-2 .wallet-card .myWallet .wallet {
  margin-top: 20px;
  padding: 17px;
  border-radius: 10px;
  box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
}

.main-body-one .main-row-2 .wallet-card .myWallet .wallet .left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 60%;
}

.main-body-one .main-row-2 .wallet-card .myWallet .wallet .left .image {
  margin-bottom: 30px;
}

.main-body-one .main-row-2 .wallet-card .myWallet .wallet .left .price {
  margin-bottom: 25px;
}

.main-body-one .main-row-2 .wallet-card .myWallet .wallet .left .withdraw {
  text-decoration: none;
}

.main-body-one .main-row-2 .wallet-card .myWallet .wallet .left .withdraw span {
  padding-left: 10px;
  color: #ca2233;
  font-weight: 600;
}

.main-body-one .main-row-2 .wallet-card .myWallet .wallet .right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.main-body-one .main-row-2 .wallet-card .myCard {
  margin-top: 20px;
}

.main-body-one .main-row-2 .wallet-card .myCard h5 {
  font-size: 14px;
  font-weight: 600;
}

.main-body-one .main-row-2 .wallet-card .myCard .cards {
  margin-top: 20px;
  background-color: #cff5ff;
  padding: 17px;
  border-radius: 10px;
  box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
}

.main-body-one .main-row-2 .wallet-card .myCard .cards .details .bank {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 30px;
}

.main-body-one .main-row-2 .wallet-card .myCard .cards .details .card-number {
  font-size: 18px;
  margin-bottom: 25px;
}

.main-body-one .main-row-2 .wallet-card .myCard .cards .details .card-holder {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.main-body-one .main-row-2 .wallet-card .myCard .cards .details .card-company {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.main-body-one .main-row-2 .apartment {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 65%;
  margin-left: 30px;
}

.main-body-one .main-row-2 .apartment h5 {
  font-size: 14px;
  font-weight: 600;
}

.main-body-one .main-row-2 .apartment .apartment-content {
  border-radius: 20px;
  box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
}

.main-body-one .main-row-2 .apartment .apartment-content .apartment-table {
  margin-top: 20px;
  height: 300px;
  overflow-y: scroll;
  padding: 20px;
}

.main-body-one .main-row-2 .apartment .apartment-content .apartment-table::-webkit-scrollbar {
  display: none;
}

.main-body-one .main-row-2 .apartment .apartment-content .apartment-table table thead tr th {
  color: #ca2233;
  font-size: 14px;
}

.main-body-one .main-row-2 .apartment .apartment-content .apartment-table table tbody tr th {
  font-size: 13px;
}

.main-body-one .main-row-2 .apartment .apartment-content .apartment-table table tbody tr th .image {
  border-radius: 100%;
  overflow: hidden;
}

.main-body-one .main-row-2 .apartment .apartment-content button {
  font-size: 14px;
  border-radius: 0;
  padding: 15px 15px;
  background-color: #ca2233;
  border: none;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 27px;
}

@media (min-width: 600px) {
  .main-body-one .main-row-2 .apartment .apartment-content button {
    padding: 15px 20px;
  }
}

.main-body-one .main-row-2 .apartment .apartment-content button:hover {
  text-decoration: none;
  color: white;
  background-color: #000000;
}

.main-body-one .main-row-2 .more-apartment {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-body-one .main-row-2 .more-apartment h5 {
  font-size: 14px;
  font-weight: 600;
}

.main-body-one .main-row-2 .more-apartment .the-testimonies-carousel {
  margin-top: 25px;
}

.main-body-one .main-row-2 .more-apartment .the-testimonies-carousel .the-testimonies-item {
  margin-left: 40px;
  border-radius: 50px;
  height: 225px;
  position: relative;
}

@media (min-width: 1000px) {
  .main-body-one .main-row-2 .more-apartment .the-testimonies-carousel .the-testimonies-item {
    margin-left: 0;
  }
}

.main-body-one .main-row-2 .more-apartment .the-testimonies-carousel .the-testimonies-item .image {
  position: relative;
  width: 230px;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
}

.main-body-one .main-row-2 .more-apartment .the-testimonies-carousel .the-testimonies-item .image .testimony-info {
  z-index: 4;
  width: 100%;
  height: calc(265px / 2.1);
  padding: 20px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.774);
}

.main-body-one .main-row-2 .more-apartment .the-testimonies-carousel .the-testimonies-item .image .testimony-info .name {
  color: #ca2233;
  font-size: 18px;
  font-weight: 900;
}

.main-body-one .main-row-2 .more-apartment .the-testimonies-carousel .the-testimonies-item .image .testimony-info .text {
  font-size: 14px;
  margin-top: 10px;
  line-height: 15px;
  color: #000000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 6px;
}

.main-body-one .main-row-2 .more-apartment .the-testimonies-carousel .the-testimonies-item .image img {
  position: relative;
  height: 130%;
  width: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=dashboard.css.map */