@import "./variable";

@import "./font/stylesheet";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Masiva";
}
@media (max-width: 999px) {
    .the-dashboard-menu {
        display: none;
    }
}
@media (min-width: 1000px) {
    .the-dashboard-menu {
        z-index: 10000;
        flex: 0 0 auto;
        width: 8%;
        transition-property: opacity, width;
        transition-duration: 0.5s;
        
        .menu-fixed {
            transition-property: opacity, width;
            transition-duration: 0.5s;
            .the-menu {
                height: 94vh;
                width: 100%;
                margin-top: 20px;

                padding-left: 30px;
                padding-right: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                overflow-y: scroll;
                border-radius: 10px;
                background-color: rgb(255, 255, 255);
                box-shadow: -3px 0px 22px -3px rgba(0, 0, 0, 0.192);
                -webkit-box-shadow: -3px 0px 22px -3px rgba(0, 0, 0, 0.192);
                -moz-box-shadow: -3px 0px 22px -3px rgba(0, 0, 0, 0.192);
                &::-webkit-scrollbar {
                    display: none;
                }
                .menu-item-logo {
                    .logo {
                        margin-top: 20px;
                        .left {
                            display: none;
                            .image {
                                width: 100%;
                                img {
                                    width: 100%;
                                }
                            }
                            p {
                                font-size: 13px;
                                color: $primaryColor;
                                font-weight: 500;
                            }
                        }
                        .right {
                        }
                    }
                }
                .menu-item {
                    margin-top: 30px;
                    .image {
                        display: inline-block;
                        width: 40px;
                        img {
                        }
                    }
                    span {
                        display: none;
                        color: $secondaryColor;
                    }
                }
                .menu-active {
                    span {
                        color: $primaryColor;
                    }
                }
                .chat {
                    margin-top: 60px;
                    margin-bottom: 40px;
                }

                .pdf-report {
                    display: none;
                    margin-top: 40px;
                    margin-bottom: 30px;
                    .image {
                        width: 100%;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    h5 {
                    }
                    p {
                    }
                    button {
                        font-size: 12px;
                        border-radius: 0;
                        padding: 10px 10px;
                        background-color: $primaryColor;
                        border: none;
                        margin-right: 20px;

                        @media (min-width: 600px) {
                            padding: 15px 10px;
                        }
                        &:hover {
                            text-decoration: none;
                            color: white;
                            background-color: $secondaryColor;
                        }
                    }
                }
                .download-pdf {
                    margin-bottom: 30px;
                }
            }
        }
        &:hover {
            flex: 0 0 auto;
            width: 16.6666666667%;
            transition-property: opacity, width;
            transition-duration: 0.5s;
            .menu-fixed {
                transition-property: opacity, width;
                transition-duration: 0.5s;
                .the-menu {
                    transition-property: opacity, width;
                    transition-duration: 0.5s;
                    .menu-item-logo {
                        .logo {
                            margin-top: 20px;
                            .left {
                                display: block;
                                .image {
                                    width: 100%;
                                    img {
                                        width: 100%;
                                    }
                                }
                                p {
                                    font-size: 13px;
                                    color: $primaryColor;
                                    font-weight: 500;
                                }
                            }
                            .right {
                            }
                        }
                    }
                    .menu-item {
                        margin-top: 30px;
                        .image {
                            display: inline-block;
                            width: 40px;
                            img {
                            }
                        }
                        span {
                            display: inline-block;
                            color: $secondaryColor;
                        }
                    }
                    .menu-active {
                        span {
                            color: $primaryColor;
                        }
                    }
                    .chat {
                        margin-top: 60px;
                        margin-bottom: 40px;
                    }

                    .pdf-report {
                        display: block;
                        margin-top: 40px;
                        margin-bottom: 30px;
                        .image {
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                        h5 {
                        }
                        p {
                        }
                        button {
                            font-size: 12px;
                            border-radius: 0;
                            padding: 10px 10px;
                            background-color: $primaryColor;
                            border: none;
                            margin-right: 20px;

                            @media (min-width: 600px) {
                                padding: 15px 10px;
                            }
                            &:hover {
                                text-decoration: none;
                                color: white;
                                background-color: $secondaryColor;
                            }
                        }
                    }
                    .download-pdf {
                        display: none;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
  .the-dashboard-menu{
      width: 6%;
      &:hover{
        width: 14%;
      }
  }
}

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

$menuItems: 7;

.mobile-menu { 
    display: block;
    background: #f1f1f1;
    .header {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background: rgba(rgb(255, 255, 255), 0.8);
        overflow: hidden;
        transition: all 0.5s ease-out, background 1s ease-out;
        transition-delay: 0.2s;
        z-index: 1;
        @media (min-width: 1000px) {
            display: none;
        }
        .burger-container {
            position: relative;
            display: inline-block;
            height: 70px;
            width: 50px;
            cursor: pointer;
            transform: rotate(0deg);
            transition: all 0.3s $cubic;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            #burger {
                width: 18px;
                height: 18px;
                position: relative;
                display: block;
                margin: -4px auto 0;
                top: 50%;
                .bar {
                    width: 100%;
                    height: 1px;
                    display: block;
                    position: relative;
                    background: $primaryColor;
                    transition: all 0.3s $cubic;
                    transition-delay: 0s;
                    &.topBar {
                        transform: translateY(0px) rotate(0deg);
                    }
                    &.midBar {
                        transform: translateY(8px) rotate(0deg);
                    }

                    &.btmBar {
                        transform: translateY(16px) rotate(0deg);
                    }
                }
            }
        }
        .mobile-logo {
            display: inline-block;
            position: absolute;
            text-align: center;
            left: 43%;
            top: 20px;
            img {
            }
        }
        .notify-me {
            display: inline-block;
            position: absolute;
            text-align: center;
            left: 90%;
            top: 20px;
            img {
            }
        }
        .icon {
            display: inline-block;
            position: absolute;
            height: 100%;
            line-height: 50px;
            width: 50px;
            height: 50px;
            text-align: center;
            color: #fff;
            font-size: 22px;
            left: 50%;
            transform: translateX(-50%);
            &.icon-bag {
                right: 0;
                top: 0;
                left: auto;
                transform: translateX(0px);
                transition: transform 0.5s $cubic;
                transition-delay: 0.65s;
            }
        }
        ul.menu {
            position: relative;
            display: block;
            padding: 0px 48px 0;
            list-style: none;
            li.menu-item {
                border-bottom: 1px solid #333;
                margin-top: 5px;
                transform: scale(1.15) translateY(-30px);
                opacity: 0;
                transition: transform 0.5s $cubic, opacity 0.6s $cubic;
                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.56 - ($i * 0.07)}s;
                    }
                }
                a {
                    display: block;
                    position: relative;
                    color: #fff;

                    font-weight: 100;
                    text-decoration: none;
                    font-size: 22px;
                    line-height: 2.35;
                    font-weight: 200;
                    width: 100%;
                }
            }
        }
        &.menu-opened {
            height: 80vh;
            background-color: #000;
            transition: all 0.3s ease-in, background 0.5s ease-in;
            transition-delay: 0.25s;
            .burger-container {
                transform: rotate(90deg);
                #burger {
                    .bar {
                        transition: all 0.4s $cubic;
                        transition-delay: 0.2s;
                        &.topBar {
                            transform: translateY(4px) rotate(45deg);
                        }
                        &.midBar {
                            display: none;
                        }
                        &.btmBar {
                            transform: translateY(3px) rotate(-45deg);
                        }
                    }
                }
            }
            ul.menu {
                li.menu-item {
                    transform: scale(1) translateY(0px);
                    opacity: 1;
                    @for $i from 1 through $menuItems {
                        &:nth-child(#{$i}) {
                            transition-delay: #{0.07 * $i + 0.2}s;
                        }
                    }
                }
            }
            .icon {
                &.icon-bag {
                    transform: translateX(75px);
                    transition-delay: 0.3s;
                }
            }
        }
    }

    @media (max-width: 600px) {
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0px;
        .header {
            position: fixed;
        }
    }
}
