@import "./variable";
@import "./dashboard-menu";
@import "./font/stylesheet";


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Masiva";
}

.the-dashboard-body {
    .mobile-menu{
        height: 100vh;
    }
    .the-dashboard-row {
     
        .dashboard-main {
            @media (max-width: 999px) {
                margin-top: 20px;
                border-radius: 30px;
                background-color: #f9f9f9;
                padding-bottom: 50px;
              
            }
            @media (min-width: 1000px) {
                margin-top: 20px;
                border-radius: 30px;
                background-color: #f9f9f9;
                padding-bottom: 50px;
                height: 94vh;
                overflow: hidden;
               
            }
         
       
        }
    }
}
