@import "./variable";
@import "./dashboard-menu";
@import "./dashboard-main-body";
@import "./font/stylesheet";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Masiva";
}

@media (min-width: 1000px) {
    .the-dashboard-menu {
        width: 6%;
        &:hover {
            width: 14%;
        }
        &:hover ~ .dashboard-profile {
            display: none;
        }
        &:hover ~ .dashboard-main {
            width: 84%;
            margin-left: 10px;
        }
    }
}

.dashboard-main {
    overflow-y: scroll !important;
    @media (min-width: 1000px) {
        overflow-y: scroll !important;
        flex: 0 0 auto;
        width: 85%;
        margin-left: 45px;
    }
    @media (min-width: 1200px) {
        overflow-y: scroll !important;
        flex: 0 0 auto;
        width: 65%;
        margin-left: 0px;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.main-body-one {
    @media (max-width: 599px) {
        padding: 0;
    }

    .main-row-1 {
        margin-top: 20px;
        margin-bottom: 20px;
        .logo {
            @media (max-width: 999px) {
                display: none;
            }
            @media (min-width: 1000px) {
                display: flex;
            }
        }
        .notify {
            @media (max-width: 999px) {
                display: none;
            }
            @media (min-width: 1000px) {
                display: flex;
            }
        }
    }
    .main-row-2 {
        .wallet-card {
            flex: 0 0 auto;
            width: 28%;
            margin: 0;
            padding: 0;
            @media (max-width: 1200px) {
                flex: 0 0 auto;
                width: 100%;
            }
            @media (max-width: 500px) {
                flex: 0 0 auto;
                width: 100%;
            }

            .myWallet {
                @media (max-width: 1200px) {
                    flex: 0 0 auto;
                    width: 50%;
                }
                @media (max-width: 500px) {
                    flex: 0 0 auto;
                    width: 100%;
                }
                h5 {
                    font-size: 14px;
                    font-weight: 600;
                    @media (max-width: 999px) {
                        margin-top: 30px;
                    }
                    @media (min-width: 1000px) {
                        margin-top: auto;
                    }
                }
                .wallet {
                    @media (max-width: 1200px) {
                        margin: 20px 10px 0 0;
                    }
                    margin-top: 20px;

                    padding: 17px;
                    border-radius: 10px;
                    box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
                    -webkit-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
                    -moz-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);

                    .left {
                        flex: 0 0 auto;
                        width: 60%;
                        .image {
                            margin-bottom: 30px;
                            img {
                            }
                        }
                        .price {
                            margin-bottom: 25px;
                            .amount {
                            }
                        }
                        .withdraw {
                            text-decoration: none;
                            img {
                            }
                            span {
                                padding-left: 10px;
                                color: $primaryColor;
                                font-weight: 600;
                            }
                        }
                    }
                    .right {
                        flex: 0 0 auto;
                        width: 40%;
                        margin-top: auto;
                        margin-bottom: auto;
                        overflow: hidden;
                        .image {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            // .myCard {
            //     @media (max-width: 1200px) {
            //         flex: 0 0 auto;
            //         width: 50%;
            //         margin-top: 0px;
            //     }
            //     @media (max-width: 500px) {
            //         flex: 0 0 auto;
            //         width: 100%;
            //         margin: 30px 0 0 0;
            //     }

            //     margin-top: 20px;
            //     h5 {
            //         font-size: 14px;
            //         font-weight: 600;
            //         @media (max-width: 999px) {
            //             margin-top: 30px;
            //         }
            //         @media (max-width: 500px) {
            //             margin-top: auto;
            //         }
            //         @media (min-width: 1000px) {
            //             margin-top: auto;
            //         }
            //     }
            //     .cards {
            //         @media (max-width: 1200px) {
            //             margin: 20px 10px 0 0;
            //         }
            //         margin-top: 20px;
            //         background-color: #cff5ff;
            //         padding: 17px;
            //         border-radius: 10px;
            //         box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
            //         -webkit-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
            //         -moz-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
            //         .details {
            //             .bank {
            //                 font-size: 14px;
            //                 color: $secondaryColor;
            //                 font-weight: 500;
            //                 margin-bottom: 30px;
            //             }
            //             .card-number {
            //                 font-size: 18px;
            //                 margin-bottom: 25px;
            //             }
            //             .card-holder {
            //                 flex: 0 0 auto;
            //                 width: 50%;
            //                 .first-name {
            //                 }
            //                 .last-name {
            //                 }
            //             }
            //             .card-company {
            //                 flex: 0 0 auto;
            //                 width: 50%;
            //                 .image {
            //                     img {
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
        }
        .apartment {
            flex: 0 0 auto;
            width: 65%;
            margin-left: 30px;
            @media (max-width: 1200px) {
                flex: 0 0 auto;
                width: 100%;
                margin: 30px 0 0 0;
            }
            h5 {
                font-size: 14px;
                font-weight: 600;
            }
            .apartment-content {
                border-radius: 20px;
                box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
                -webkit-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
                -moz-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
                padding: 0 20px 0 20px;
                .apartment-table {
                    @media (max-width: 699px) {
                        display: none;
                    }
                    margin-top: 20px;
                    height: 300px;
                    overflow-y: scroll;
                    @media (max-width: 999px) {
                        height: auto;
                    }
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    padding: 20px 0 20px 0;
                    table {
                        @media (max-width: 500px) {
                        }
                        thead {
                            tr {
                                th {
                                    color: $primaryColor;
                                    font-size: 14px;
                                }
                            }
                        }
                        tbody {
                            tr {
                                th {
                                    font-size: 13px;
                                    .image {
                                        border-radius: 100%;
                                        overflow: hidden;
                                        img {
                                        }
                                    }
                                }
                                td {
                                }
                                .progress {
                                }
                            }
                        }
                    }
                }
                .apartment-list {
                    @media (min-width: 700px) {
                        display: none;
                    }
                    h6 {
                        color: $tertiaryColor;
                        padding: 30px 0;
                    }
                    .the-list {
                        padding: 0 20px 50px 0px;
                        .d-image {
                            position: relative;
                            .image {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                font-weight: 600;

                                height: 40px;
                                width: 40px;
                                border-radius: 100%;

                                overflow: hidden;
                                img {
                                    width: 100%;
                                }
                            }
                        }

                        .building {
                            position: relative;
                            p {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                font-weight: 600;
                            }
                        }
                        .view {
                            position: relative;
                            button {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                font-weight: 600;

                                border: 1px transparent solid;
                                padding-top: 4px;
                                background-color: transparent;
                                img {
                                }
                            }
                        }
                    }
                }
                .button-primary {
                    @include button;
                }
            }
        }
        .more-apartment {
            margin-top: 50px;
            margin-bottom: 50px;
            h5 {
                font-size: 14px;
                font-weight: 600;
            }
            .the-testimonies-carousel {
                margin-top: 25px;
                .the-testimonies-item {
                    margin-left: 40px;
                    border-radius: 50px;
                    height: 225px;
                    position: relative;
                    @media (min-width: 1000px) {
                        margin-left: 0;
                    }
                    .image {
                        position: relative;
                        width: 230px;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 30px;
                        .testimony-info {
                            z-index: 4;
                            width: 100%;
                            height: calc(265px / 2.1);
                            padding: 20px;

                            bottom: 0;
                            background-color: rgba(255, 255, 255, 0.774);
                            .name {
                                color: $primaryColor;
                                font-size: 18px;
                                font-weight: 900;
                            }
                            .text {
                                font-size: 14px;
                                margin-top: 10px;
                                line-height: 15px;
                                color: $secondaryColor;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                margin-bottom: 6px;
                            }
                        }
                        img {
                            position: relative;
                            height: 130%;
                            width: auto;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}

.dashboard-profile {
    display: none;
    @media (min-width: 1200px) {
        display: flex;
        flex: 0 0 auto;
        width: 27%;
        padding: 20px 0 0 40px;
        margin: 20px 0 0 20px;
        border-radius: 30px;
        height: 94vh;
        overflow: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
 
   

    .iconery {
        width: 100%;
        margin-top: 20px;
        .profile-header {
            .display-image {
                .image {
                    width: 70px;
                    height: 70px;
                    overflow: hidden;
                    border-radius: 100%;
                    border: 3px $primaryColor solid;
                    display: inline-block;
                    img {
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 120%;
                    }
                }
            }
            .info {
                margin-top: 20px;
                .details {
                    p {
                        font-size: 17px;
                        font-weight: 600;
                        margin-bottom: 7px;

                        .lastname {
                            font-size: 25px;
                            display: block;
                        }
                    }
                    a {
                        color: $primaryColor;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }
                .update {
                    .button-primary {
                        @include button;
                        width: 100%;
                    }
                }
            }
            .p-card {
                .cards {
                    @media (min-width: 501px) {
                      
                        flex: 0 0 auto;
                        width: 100%;
                    }
         
                    .card-detail {
                        h5 {
                            font-size: 18px;
                            color: #919191;
                            font-weight: 600;
                            margin-left: 30px;
                            @media (max-width: 999px) {
                                margin-top: 30px;
                                font-size: 15px;
                            }
                            @media (min-width: 1000px) {
                                margin-top: auto;
                            }
                        }
                        .details-info {
                            margin-top: 20px;
                            background-color: white;
                            padding:10px 17px;
                            border-radius: 15px;
                            box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
                            -webkit-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
                            -moz-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
                            @media (min-width: 1000px) {
                            }
                            .left {
                                flex: 0 0 auto;
                                width: 60%;
                                .image {
                                    margin-bottom: 30px;
                                    img {
                                    }
                                }
                                h6 {
                                    font-size: 12px;
                                    color: #919191;
                                }
                                h4 {
                                    font-size: 26px;
                                    font-weight: 700;
                                }
                                .price {
                                    margin-bottom: 25px;
                                    .amount {
                                    }
                                }
                                .withdraw {
                                    text-decoration: none;
                                    img {
                                    }
                                    span {
                                        padding-left: 10px;
                                        color: $primaryColor;
                                        font-weight: 600;
                                    }
                                }
                            }
                            .right {
                                flex: 0 0 auto;
                                width: 40%;
                                margin-top: auto;
                                margin-bottom: auto;
                                .image {
                                    height: 100px;

                                    img {
                                        width: 100%;
                                        position: relative;
                                        left: 50%;
                                        top: 50%;
                                        transform: translate(-50%, -50%);
                                        @media (min-width: 600px) {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        .profit {
                            background-color: #cff5ff;
                        }
                        .wallet {
                            @media (min-width: 600px) {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        .transaction{
            margin-top: 30px;
            padding:20px 20px;
            border-radius: 20px;
            background-color: #f9f9f9;
            h6{
                font-weight: 700;
                color: #919191;
                font-size: 18px;
            }
            .daily{
                .date{
                    font-weight: 600;
                    color: #919191;
                }
                .recent{
                    .reason{
                        h6{
                            color: $secondaryColor;
                            font-weight: 600;

                        }
                    }
                    .amount{
                        color: $secondaryColor;
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
            }
            .view{
                a{
                    text-decoration: none;
                    color: $primaryColor;
                    font-weight: 700;
                    img{
                        margin-left: 6px;
                    }
                }
            }
        }
    }
}

#apartmentList {
    .modal-content {
        .modal-header {
            background-color: $primaryColor;
            position: relative;
            padding: 0;
            height: 20vh;
            overflow: hidden;
            .image {
                width: 100%;
                mix-blend-mode: multiply;
                img {
                    width: 100%;
                }
            }
            .heading {
                position: absolute;
                width: 80%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                h5 {
                    color: white;
                }
                button {
                }
            }
        }
        .modal-body {
            .category {
                .title {
                    color: $primaryColor;
                    font-size: 12px;
                }
                .result {
                    font-size: 17px;
                    font-weight: 600;
                }
            }
        }
        .modal-footer {
            justify-content: flex-start;
            button {
                font-size: 13px;
                border-radius: 0;
                padding: 15px 25px;
                background-color: $primaryColor;
                border: 2px $primaryColor solid;
                border: none;
                color: white;

                @media (min-width: 600px) {
                    padding: 15px 30px;
                    font-size: 14px;
                }

                &:hover {
                    text-decoration: none;
                    color: white;
                    background-color: $secondaryColor;
                }
            }
        }
    }
}
