@import "./variable";
@import "./font/stylesheet";
@import "./dashboard-menu";
@import "./dashboard-main-body";

$modal-fade-transform: scale(0.2);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Masiva";
}

.main-row-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    .logo {
        @media (max-width: 999px) {
            display: none;
        }
        @media (min-width: 1000px) {
            display: flex;
            padding-left: 50px;
            .image {
                width: 100px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .notify {
        @media (max-width: 999px) {
            display: none;
        }
        @media (min-width: 1000px) {
            display: flex;
        }
    }
}

.profile {
    background-color: #ebebeb;
    padding: 40px;
    padding-bottom: 10px;
    border-radius: 30px;

    @media (min-width: 1000px) {
       
    }
    margin-bottom: 10px;
    .profile-header {
        .display-image {
            flex: 0 0 auto;
            width: 100%;
            padding-right: 0;
            padding-left: 0;
            position: relative;
            @media (max-width: 999px) {
            }
            @media (min-width: 1000px) {
                flex: 0 0 auto;
                width: 7%;
            }

            .image {
                @media (min-width: 1000px) {
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    transform: translateY(-50%);
                }

                width: 70px;
                height: 70px;
                overflow: hidden;
                border-radius: 100%;
                display: inline-block;
                img {
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 120%;
                }
            }
        }
        .photo-text {
            @media (max-width: 999px) {
                margin-bottom: 20px;
            }
            @media (min-width: 1000px) {
                flex: 0 0 auto;
                width: 24.66666667%;
            }
            position: relative;
            padding-left: 0;
            label{
                cursor: pointer;
                background-color: transparent;
                border: none;
                color: $primaryColor;
                font-weight: 500;
                font-size: 15px;
                &:hover{
                    color: black;
                }
            }
            input{
                display: none;
            }
        }
        .update-profile {
            @media (max-width: 999px) {
                margin-bottom: 40px;
            }
            @media (min-width: 1000px) {
                flex: 0 0 auto;
                width: 40%;
            }

            h4 {
                font-size: 28px;
                font-weight: 500;
                b {
                    font-weight: 700;
                }
                margin-bottom: 10px;
            }
        }
        .settings {

            @media (min-width: 1000px) {
                flex: 0 0 auto;
                width: 20.3333%;
                float: right;
                text-align: right;
            }
            

            position: relative;
            padding-left: 0;
            .content {
                @media (min-width: 1000px) {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
                img {
                    padding-right: 5px;
                }
                a {
                    text-decoration: none;
                    color: $tertiaryColor;
                    font-weight: 400;
                    &:hover {
                        color: $primaryColor;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .profile-body {
        margin-top: 40px;
        h4 {
            margin-bottom: 30px;
        }
    }
    .button-primary {
        font-size: 13px;
        border-radius: 0;
        padding: 15px 25px;
        background-color: $primaryColor;
        border: 2px $primaryColor solid;
        border: none;
        color: white;

        @media (min-width: 600px) {
            padding: 15px 30px;
            font-size: 14px;
        }

        &:hover {
            text-decoration: none;
            color: white;
            background-color: $secondaryColor;
        }
    }
}
.scroll{
    @media (min-width: 1000px) {
   
        overflow-x: hidden;
        height: 58vh;
    }
    @media (min-width: 1200px) {
       
        overflow-x: hidden;
        height: 66vh;
    }

    .widget {
   
        .main-row-2 {
            .cards {
              
               
              
                @media (max-width: 500px) {
                    flex: 0 0 auto;
                    width: 100%;
                    margin-top: 0px;
                }
                @media (min-width: 501px) {
                    margin-right: 45px;
                    flex: 0 0 auto;
                    width: 40%;
                    margin-left: 20px;
                }
                @media (min-width: 1500px) {
                    margin-right: 45px;
                    flex: 0 0 auto;
                    width: 25%;
                }
                @media (min-width: 1700px) {
                    margin-right: 45px;
                    flex: 0 0 auto;
                    width: 20%;
                }
                
                .card-detail {
                    h5 {
                        font-size: 18px;
                        color: #919191;
                        font-weight: 600;
                        margin-left: 30px;
                        @media (max-width: 999px) {
                            margin-top: 30px;
                            font-size: 15px;
                        }
                        @media (min-width: 1000px) {
                            margin-top: auto;
                        }
                    }
                    .details-info {
                        margin-top: 20px;
                        background-color: white;
                        padding: 17px;
                        border-radius: 15px;
                        box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
                        -webkit-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
                        -moz-box-shadow: -1px 13px 30px -5px rgba(0, 0, 0, 0.36);
                        @media (min-width: 1000px) {
                        }
                        .left {
                            flex: 0 0 auto;
                            width: 60%;
                            .image {
                                margin-bottom: 30px;
                                img {
                                }
                            }
                            h6 {
                                font-size: 12px;
                                color: #919191;
                            }
                            h4 {
                                font-size: 26px;
                                font-weight: 700;
                            }
                            .price {
                                margin-bottom: 25px;
                                .amount {
                                }
                            }
                            .withdraw {
                                text-decoration: none;
                                img {
                                }
                                span {
                                    padding-left: 10px;
                                    color: $primaryColor;
                                    font-weight: 600;
                                }
                            }
                        }
                        .right {
                            flex: 0 0 auto;
                            width: 40%;
                            margin-top: auto;
                            margin-bottom: auto;
                            .image {
                                height: 100px;
    
                                img {
                                    width: 100%;
                                    position: relative;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    @media (min-width: 600px) {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .profit {
                        background-color: #cff5ff;
                    }
                    .wallet {
                        @media (min-width: 600px) {
                            margin-left: 10px;
                        }
                    }
                }
            }
            // .atm-card {
              
            //         flex: 0 0 auto;
            //         width: 100%;
            //         margin-top: 0px;
    
            //         background-color: #f2f2f2;
            //         margin-top: 30px;
            //         padding-bottom: 30px;
            //         border-radius: 20px;
                
            //     @media (min-width: 600px) {
            //         flex: 0 0 auto;
            //         width: 100%;
            //         background-color: #f2f2f2;
            //         margin-top: 30px;
            //         border-radius: 20px;
            //     }
            //     @media (min-width: 1000px) {
            //         flex: 0 0 auto;
            //         width: 100%;
            //         padding: 20px 30px;
            //         background-color: #f2f2f2;
            //     }
            //     .myATM {
            //        margin:auto;
            //         h5 {
            //             margin-left: 0;
            //         }
            //         .ATM {
            //             background-color: #ffe3b9;
            //             margin-left: 0px;
            //             @media (min-width: 600px) {
            //                 flex: 0 0 auto;
            //                 width: 44%;
            //                 padding: 10px 10px;
            //                 margin-left: 10px;
            //                 margin-right: 30px;
            //             }
                     
            //             @media (min-width: 1200px) {
            //                 flex: 0 0 auto;
            //                 width: 30%;
            //                 padding: 10px 10px;
            //                 margin-left: 10px;
            //                 margin-right: 30px;
            //             }
            //             // @media (min-width: 1400px) {
            //             //     flex: 0 0 auto;
            //             //     width: 40%;
            //             //     padding: 10px 10px;
            //             //     margin-left: 10px;
            //             //     margin-right: 30px;
            //             // }
            //             // @media (min-width: 1500px) {
            //             //     flex: 0 0 auto;
            //             //     width: 25%;
            //             //     padding: 10px 10px;
            //             //     margin-left: 10px;
            //             //     margin-right: 30px;
            //             // }
            //             // @media (min-width: 1700px) {
            //             //     flex: 0 0 auto;
            //             //     width: 20%;
            //             //     padding: 10px 10px;
            //             //     margin-left: 10px;
            //             //     margin-right: 30px;
            //             // }
            //             .bank {
            //                 font-size: 10pt;
            //                 font-weight: 500;
            //                 padding: 10px 10px 10px 10px;
            //             }
            //             .sixteen-dgt {
            //                 font-size: 18px;
            //                 letter-spacing: 2px;
            //                 padding: 20px 10px 30px 10px;
            //                 font-weight: 500;
            //             }
            //             .holder-info {
            //                 .name {
            //                     font-size: 16px;
            //                     text-transform: uppercase;
            //                     font-weight: 600;
            //                 }
            //             }
    
            //             @media (min-width: 1000px) {
            //                 .bank {
            //                     font-size: 12pt;
            //                     font-weight: 500;
            //                     padding: 20px 10px 10px 10px;
            //                 }
            //                 .sixteen-dgt {
            //                     font-size: 22px;
            //                     letter-spacing: 4px;
            //                 }
            //                 .holder-info {
            //                     padding: 10px 10px 20px 10px;
            //                     .name {
            //                         font-size: 20px;
            //                         text-transform: uppercase;
            //                         font-weight: 600;
            //                     }
            //                 }
            //             }
    
            //             @media (min-width: 1200px) {
            //                 .bank {
            //                     font-size: 12pt;
            //                     font-weight: 500;
            //                     padding: 20px 10px 10px 10px;
            //                 }
            //                 .sixteen-dgt {
            //                     font-size: 24px;
            //                     letter-spacing: 4px;
            //                 }
            //                 .holder-info {
            //                     padding: 20px 10px 20px 10px;
            //                     .name {
            //                         font-size: 20px;
            //                         text-transform: uppercase;
            //                         font-weight: 600;
            //                     }
            //                 }
            //             }
            //         }
            //     }
            //     .add {
            //         margin-top: 25px;
            //         margin-bottom: 25px;
            //         .add-card {
            //             img {
            //                 padding-left: 15px;
            //             }
            //             color: $primaryColor;
            //             text-decoration: none;
            //             font-weight: 600;
            //             font-size: 16px;
    
            //             cursor: pointer;
            //         }
            //     }
            // }
        }
    }
}


// #addCard {
//     .modal-content {
//         .modal-header {
//             background-color: $primaryColor;
//             position: relative;

//             height: 8vh;
//             overflow: hidden;
//             h5 {
//                 padding-left: 30px;
//                 color: white;
//             }
//         }
//         .modal-body {
//             form {
//                 .input-style {
//                     span {
//                         background-color: #f2f2f2;
//                         border: none;
//                         img {
//                             width: 100%;
//                         }
//                     }
//                     input {
//                         background-color: #f2f2f2;
//                         border: none;
//                     }
//                 }
//                 .date {
//                     span {
//                         img {
//                             width: 50%;
//                         }
//                     }
//                 }
//                 .ccv {
//                     span {
//                         img {
//                             width: 50%;
//                         }
//                     }
//                 }
//             }
//         }
//         .modal-footer {
//             justify-content: flex-start;
//             padding-left: 40px;
//             button {
//                 font-size: 13px;
//                 border-radius: 0;
//                 padding: 15px 25px;
//                 background-color: $primaryColor;
//                 border: 2px $primaryColor solid;
//                 border: none;
//                 color: white;

//                 @media (min-width: 600px) {
//                     padding: 15px 30px;
//                     font-size: 14px;
//                 }

//                 &:hover {
//                     text-decoration: none;
//                     color: white;
//                     background-color: $secondaryColor;
//                 }
//             }
//         }
//     }
// }
